
<p *ngIf="!companies" class="text-center text-lg">Loading...</p>

<div>
  <div>
    <label>Наименование</label>
    <input [(ngModel)]="company.nameCompany" >
  </div>
  <div>
    <label>Адрес</label>
    <input [(ngModel)]="company.addresCompany">
  </div>
  <button (click)="addCompany()">Добавить</button>
  <button (click)="searchCompany()">Поиск по id</button>

</div>

<h2>Таблица компаний</h2>

<table *ngIf="companies">
  <thead>
  <tr>
    <th>
      <h1>Наименование компании</h1>
    </th>
    <th>
      <h1>Адрес компании</h1>
    </th>
    <th>

    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let  company of companies" >
    <td>
      <h1>{{company.nameCompany}}</h1>
    </td>
    <td>
      <h1>{{company.addresCompany}}</h1>
    </td>
    <td>
      <button (click)="updateCompany(company)">Обновить</button>
    </td>
    <td>
      <button (click)="deleteCompany(company.id)">Удалить</button>
    </td>
  </tr>
  </tbody>
</table>








