<body>
<div class="form">
  <div class="title">Регистрация</div>
  <form [formGroup]="regForm" >
    <div class="flex max-w-[770px] justify-center flex-wrap flex-row">
      <div class="input-container ic1">
        <input formControlName="userName" type="text" class="input" id="userName" placeholder=" " minlength="5">
        <div class="cut"></div>
        <label class="placeholder" for="userName" >Логин
          <span *ngIf="regForm.get('userName').errors" style="color: red">*</span>
        </label>
      </div>
      <div class="input-container ic1">
        <input formControlName="password" type="password" class="input" id="password" placeholder=" " minlength="5">
        <div class="cut"></div>
        <label class="placeholder" for="password">Пароль
          <span *ngIf="regForm.get('password').errors" style="color: red">*</span>
        </label>
      </div>

      <div class="input-container ic1">
        <input formControlName="passwordReturn" type="password" class="input" id="passwordReturn" placeholder=" " minlength="5">
        <div class="cut long"></div>
        <label for="passwordReturn" class="placeholder">Подтвердите пароль
          <span *ngIf="regForm.get('passwordReturn').errors" style="color: red">*</span>
        </label>
      </div>

      <div class="input-container ic1">
        <input formControlName="name" class="input" id="name" placeholder=" ">
        <div class="cut"></div>
        <label for="name" class="placeholder">Имя
          <span *ngIf="regForm.get('name').errors" style="color: red">*</span>
        </label>
      </div>

      <div class="input-container ic1">
        <input formControlName="surname" class="input" id="lastName" placeholder=" ">
        <div class="cut"></div>
        <label for="lastName" class="placeholder">Фамилия
          <span *ngIf="regForm.get('lastName').errors" style="color: red">*</span>
        </label>
      </div>

      <div class="input-container ic1">
        <input formControlName="patronomic" class="input" id="patronymic" placeholder=" ">
        <div class="cut"></div>
        <label for="patronymic" class="placeholder">Отчество
          <span *ngIf="regForm.get('patronymic').errors" style="color: red">*</span>
        </label>
      </div>

      <div class="input-container ic1">
        <input formControlName="birthday" type="date"  class="input" id="birthday" placeholder=" " maxlength="10">
        <div class="cut long"></div>
        <label for="birthday" class="placeholder">Дата рождения
          <span *ngIf="regForm.get('birthday').errors || regForm.get('birthday').value == null"  style="color: red">*</span>
        </label>
      </div>

      <div class="input-container ic1">
        <input formControlName="mail" class="input" id="mail" placeholder=" " type="email" minlength="10">
        <div class="cut"></div>
        <label for="mail" class="placeholder">Почта
          <span *ngIf="regForm.get('mail').errors" style="color: red">*</span>
        </label>
      </div>

      <div class="input-container ic1">
        <input formControlName="phoneNumber" prefix="+7" mask="(000)000-00-00" type="text"  minlength="10" class="input" id="phoneNumber" placeholder=" ">
        <div class="cut long"></div>
        <label for="phoneNumber" class="placeholder">Номер телефона
          <span *ngIf="regForm.get('phoneNumber').errors" style="color: red">*</span>
        </label>
      </div>

      <div class="input-container ic1 right-20">
        <div class="checkbox mb-3">
          <label class="text-amber-50">
            <input type="checkbox" value="remember-me"> Подтверждение
          </label>
        </div>
      </div>

    </div>
    <button class="submit" (click)="Registration()" type="button">Зарегистрироваться</button>
  </form>
</div>
</body>
