<body>
  <form [formGroup]="regForm" class="h-[450px] w-[550px] bg-[#15172b] rounded-2xl ">
    <div class="text-white text-3xl m-4 font-bold">Регистрация</div>
    <div class="columns-2">

      <div class="input-container">
        <input formControlName="login" type="text" class="input" id="firstname" placeholder=" " minlength="5">
        <div class="cut"></div>
        <label class="placeholder" for="firstname" >Логин
          <span *ngIf="regForm.get('login').errors" style="color: red">*</span>
        </label>
      </div>

      <div class="input-container ic1 ">
        <input formControlName="password" type="password" class="input" id="password" placeholder=" " minlength="5">
        <div class="cut"></div>
        <label class="placeholder" for="password">Пароль
          <span *ngIf="regForm.get('password').errors && regForm.get('password').hasError('required')" style="color: red">*</span>
        </label>
      </div>

      <div class="flex-1">
        <div class="input-container ic1">
          <input formControlName="passwordReturn" type="password" class="input" id="passwordReturn" placeholder=" " minlength="5">
          <div class="cut long"></div>
          <label for="passwordReturn" class="placeholder">Подтвердите пароль
            <span *ngIf="regForm.get('passwordReturn').errors" style="color: red">*</span>
          </label>
        </div>

        <div class="input-container ic1">
          <input formControlName="name" class="input" id="name" placeholder=" ">
          <div class="cut"></div>
          <label for="name" class="placeholder">Имя
            <span *ngIf="regForm.get('name').errors" style="color: red">*</span>
          </label>
        </div>
      </div>

      <div class="input-container ic1">
        <input formControlName="surname" class="input" id="surname" placeholder=" ">
        <div class="cut"></div>
        <label for="surname" class="placeholder">Фамилия
          <span *ngIf="regForm.get('surname').errors" style="color: red">*</span>
        </label>
      </div>

      <div class="input-container ic1">
        <input formControlName="patronomic" class="input" id="patronomic" placeholder=" ">
        <label for="patronomic" class="placeholder">Отчество
          <span *ngIf="regForm.get('patronomic').errors " style="color: red">*</span>
        </label>
      </div>

      <div class="input-container ic1">
        <input formControlName="birthday" type="date" class="input" id="birthday" placeholder=" " maxlength="10">
        <div class="cut long"></div>
        <label for="birthday" class="placeholder">Дата рождения
          <span *ngIf="regForm.get('birthday').errors"  style="color: red">*</span>
        </label>
      </div>

      <div class="input-container ic1">
        <input formControlName="mail" class="input" id="mail" placeholder=" " type="email" minlength="10">
        <div class="cut"></div>
        <label for="mail" class="placeholder">Почта
          <span *ngIf="regForm.get('mail').errors" style="color: red">*</span>
        </label>
      </div>

      <div class="input-container ic1">
        <input formControlName="phoneNumber" prefix="+7" mask="(000)000-00-00" type="text" class="input" id="phoneNumber" placeholder=" ">
        <div class="cut long"></div>
        <label for="phoneNumber" class="placeholder">Номер телефона
          <span *ngIf="regForm.get('phoneNumber').errors" style="color: red">*</span>
        </label>
      </div>

      <div class="input-container ic1">
        <button class="w-[220px] h-[50px] bg-purple-950 text-[18px] rounded-xl " (click)="Registration()" type="button">Зарегистрироваться</button>
      </div>
    </div>
  </form>
</body>
