<h2>Таблица пользователей</h2>

<p *ngIf="!fios" class="text-center text-lg">Loading...</p>

<table *ngIf="fios">
  <thead>
    <tr>
      <th>
        <h2>Имя</h2>
      </th>
      <th>
        <h2>Фамилия</h2>
      </th>
      <th>
        <h2>Отчетсво</h2>
      </th>
      <th>
        <h2>Номер</h2>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fio of fios">
      <td>
        <h2>{{fio.name}}</h2>
      </td>
      <td>
        <h2>{{fio.surname}}</h2>
      </td>
      <td>
        <h2>{{fio.patronomic}}</h2>
      </td>
      <td>
        <h2>{{fio.number}}</h2>
      </td>
    </tr>
  </tbody>
</table>


